.frame{
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 150px;
    height: 500px;
    align-items: center;
    justify-content: space-evenly;
}
#red{
    background-color: rgba(255, 1, 1, 0.463);
    width: 100px;
    height: 100px;
    border-radius: 50%;

}
#yellow{
    background-color: rgba(255, 255, 0, 0.486);
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
#green{
    background-color: rgba(3, 153, 3, 0.445);
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
button{
    width: 100px;
    height: 50px;
    padding: 30px;
    background-color: rgba(128, 128, 128, 0.679);
    color: black;
    border: 3px solid black;
    
    margin: 50px;
}
